.percent-10 {
  border-top: 1px solid white;
  display: flex;
  width: 82vw;
  max-width: 1140px;
  margin: 0 auto;
  color: white;
  justify-content: space-between;
  padding: 3vh 1vw;
}
.percent-10 h1 {
  border-left: 1px solid rgba(255, 255, 255, 0.281);
  padding: 20px 0;
  line-height: 100%;
  margin: 0;
  min-width: 25%;
  font-size: 70px;
  font-weight: 400;
}
.percent-10 div {
  min-width: auto;
  margin-right: 4.5vw;
  text-align: left;
  font-size: 15px;
}
.percent-10 div > h2 {
  font-size: 30px;
}
.percent-10 div span {
  color: #00bcbb;
}
.last-percent {
  border-bottom: 1px solid white;
}
@media screen and (max-width: 768px) {
  .percent-10 h1 {
    font-size: 40px;
  }
  .percent-10 div > h2 {
    font-size: 20px;
  }
  .percent-10 div {
    font-size: 12px;
  }
}
