.faq {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  color: white;
  max-width: 920px;
  padding-top: 15vh;
}
.faq h1 {
  font-size: 60px;
}
.faq h3 {
  margin: 1vh 0;
  font-size: 24px;
}

.faq p {
  margin: 1vh 0;
}
@media screen and (max-width: 768px) {
  .faq h1 {
    font-size: 34px;
  }
  .faq h3 {
    font-size: 20px;
  }
}
